add support of compressed IPv6 address format

according to RFC3513, section 2.2.